<!DOCTYPE html>
<html lang="ru" ng-app="invoiceApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Invoice</title>

	<!-- FAVICONS -->
	<link rel="apple-touch-icon" sizes="114x114" href="./icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="./icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="./icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="./icons/manifest.json">
	<link rel="mask-icon" href="./icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="./icons/favicon.ico">
	<meta name="msapplication-config" content="./icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff"> <!-- FAVICONS -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<!-- jQuery UI -->
	<link rel="stylesheet" href="./lib/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="./lib/jquery-ui/jquery-ui.theme.min.css">
	<script src="./lib/jquery-ui/jquery-ui.min.js"></script>
	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>

	<!-- Шрифт для шапки -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i&subset=cyrillic-ext" rel="stylesheet">

	<link rel="stylesheet" href="style.css"> <!-- Собственный стиль -->

	<!-- Собственные скрипты -->
	<script src="./js/app.directives.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/app.services.js"></script>
  <script src="./js/app.controllers.js"></script>
  <script src="./js/app.filters.js"></script>

</head>
<body class="bcgr-main">
	
	<header class="container-fluid">
		<div class="row header">
			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 col-lg-offset-1 logo" >
				<img src="img/invoice_logo.png" class="img-responsive center-block" alt="">
			</div>

			<div class="col-xs-9 col-sm-10 col-md-11 col-lg-10">
			<h1><b>Счет на оплату</b></h1>
		  <h4>Создание счетов прямо в браузере.</h4>
		  <h4>
		  Генерация PDF со счетом и отправка его на e-mail, или загрузка на ваш компьютер</h4>
		  <br>
			</div>
		</div>
	</header>
	
	<div class="container-fluid">

		<form action="" name="invoiceForm" ng-controller="invoiceController as mainCtrl" novalidate>
			<div class="row">
				<br>
				<!-- Колонка с формой -->
				<div class="col-xs-12 col-md-10 col-lg-9 col-lg-offset-1 bcgr-white">
					<div class="row">
						<br>
						
						<div class="hidden-xs col-sm-3 col-sm-offset-0"> <!-- (Добавить) логотип -->
							<div class="well well-lg invoice-logo" ng-show="mainCtrl.invoiceLogoSrc == 'img/add_logo.png'">
								<!-- Предлагаем добавить логотип -->
								<img ng-src="{{mainCtrl.invoiceLogoSrc}}" alt="">
								<input type="file" accept="image/*" inv-add-logo>
								<input type="file" accept="image/*" inv-add-logo>
								<input type="file" accept="image/*" inv-add-logo>
								<input type="file" accept="image/*" inv-add-logo>
							</div>

							<div ng-show="mainCtrl.invoiceLogoSrc != 'img/add_logo.png'">
								<!-- Отображаем логотип, если выбран -->
								<h3 id="removeLogoButton"> <!-- Кнопка, удаляющая логотоип -->
									<span class="glyphicon glyphicon-remove-circle cursor-pointer" ng-click="mainCtrl.invoiceLogoSrc = 'img/add_logo.png'"></span>
								</h3>
								<img ng-src="{{mainCtrl.invoiceLogoSrc}}" alt="" class="img-rounded img-responsive invoice-logo">
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-9">
							<h3 class="text-center">Счет на оплату</h3>
						</div>
						
						<!-- Номер, дата, валюта -->
						<div class="form-group form-inline center-block col-sm-9">
							
							<div class="col-lg-1 visible-lg-inline-block">
								<!-- Этот <div> для горизонтального выравнивания -->
							</div> 

							<div class="input-group">
								<div class="input-group-addon">№</div>
								<input type="text" name="invoice-number" class="form-control input-sm" ng-model="mainCtrl.invoiceNumber" required>
								<div class="input-group-addon">Дата:</div>
								<input type="text" name="invoiceDate" class="form-control input-sm" placeholder="дд.мм.гггг" ng-model="mainCtrl.invoiceDate" inv-date-picker required>
								<div class="input-group-addon">Валюта</div>
								<select class="form-control input-sm" name="invoice-currency" id="" ng-model="mainCtrl.invoiceCurrency">
									<option value="руб." class="text-center">руб.</option>
									<option value="USD">USD</option>
									<option value="EUR">EUR</option>
								</select>
							</div>
						
						</div>
					
					</div>
					
					<br>
					<div class="row">
													
						<!-- Коротко о плательщике и платеже -->
						<div class="form-group col-xs-12 col-sm-6">
							<label for="aboutPayerBriefly" class="control-label">Плательщик</label>
							<input type="text" id="aboutPayerBriefly" class="form-control input-sm" placeholder="Кому выставлен счет" required ng-model="mainCtrl.invoicePayer">
						</div>
						
						<div class="form-group col-xs-12 col-sm-6">
							<label for="invoiceBriefly" class="control-label">Основание платежа (коротко о платеже)</label>
							<textarea name="invoiceBriefly" class="form-control input-sm" id="" rows="2" placeholder="За расходные материалы, за оргтехнику и т. д." required ng-model="mainCtrl.invoiceBriefly"></textarea>
						</div>
						
						<!-- Получатель платежа -->
						<div class="col-xs-12">
							<h4><strong>Получатель платежа</strong></h4>
							<hr>
						</div>

						<div class="col-sm-6 col-xs-12">
							<div class="form-group">
								<!-- Изменение <label> по щелчку Название / Ф.И.О. -->
								<div ng-click="mainCtrl.changeReceiverLabel(mainCtrl)" class="cursor-pointer">
									<span class="glyphicon glyphicon-pencil cursor-pointer change-icon text-muted"></span>
									<span class="cursor-pointer">&nbsp;</span>
									<label for="receiverName" class="control-label cursor-pointer" ng-bind="mainCtrl.receiverLabel"></label>
								</div>
								<input type="text" id="receiverName" class="form-control input-sm" required ng-model="mainCtrl.receiverName">
							</div>
							
							<div class="row hidden-xs"  ng-show="mainCtrl.optionalTextInputs[0].visible || mainCtrl.optionalTextInputs[1].visible">
								<div class="form-group col-sm-5" ng-show="mainCtrl.optionalTextInputs[0].visible">
									<!-- Телефон получателя -->
									<label for="{{mainCtrl.optionalTextInputs[0].id}}" class="control-label">
										<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, mainCtrl.optionalTextInputs[0].id);"></span>
										&nbsp;{{mainCtrl.optionalTextInputs[0].text}}
									</label>
									<input type="tel" id="{{mainCtrl.optionalTextInputs[0].id}}" class="form-control input-sm" ng-model="mainCtrl.optionalTextInputs[0].value" required>
								</div>

								<div class="form-group col-sm-7" ng-show="mainCtrl.optionalTextInputs[1].visible">
									<!-- E-mail получателя -->
									<label for="{{mainCtrl.optionalTextInputs[1].id}}" class="control-label">
										<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, mainCtrl.optionalTextInputs[1].id);"></span>
										&nbsp;{{mainCtrl.optionalTextInputs[1].text}}
									</label>
									<input type="email" id="{{mainCtrl.optionalTextInputs[1].id}}" class="form-control input-sm" ng-model="mainCtrl.optionalTextInputs[1].value" required>
								</div>
							</div>

							<!-- Руководитель -->
							<div class="row" ng-show="mainCtrl.optionalTextInputs[3].visible">
								<div class="form-group col-sm-12 col-xs-12">
									<label for="{{mainCtrl.optionalTextInputs[3].id}}" class="control-label">
										<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, mainCtrl.optionalTextInputs[3].id);"></span>
										&nbsp;{{mainCtrl.optionalTextInputs[3].text}}</label>
									<input type="text" id="{{mainCtrl.optionalTextInputs[3].id}}" class="form-control input-sm" required ng-model="mainCtrl.optionalTextInputs[3].value">
								</div>
							</div>

						</div>
						
						<div class="col-sm-6 col-xs-12" ng-show="mainCtrl.optionalTextInputs[2].visible">
							<!-- Адрес получателя -->
							<div class="form-group">
								<label for="{{mainCtrl.optionalTextInputs[2].id}}" class="control-label">
									<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, mainCtrl.optionalTextInputs[2].id);"></span>
									&nbsp;{{mainCtrl.optionalTextInputs[2].text}}
								</label>
								<textarea id="{{mainCtrl.optionalTextInputs[1].id}}" class="form-control input-sm" rows="5" required ng-model="mainCtrl.optionalTextInputs[2].value"></textarea>
							</div>
						</div>
						
						<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
						<!-- Телефон и E-mail получателя для размера xs -->
							<div class="form-group" ng-show="mainCtrl.optionalTextInputs[0].visible">
								<label for="{{mainCtrl.optionalTextInputs[0].id}}" class="control-label">
									<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, mainCtrl.optionalTextInputs[0].id);"></span>
									&nbsp;{{mainCtrl.optionalTextInputs[0].text}}</label>
								<input type="tel" id="{{mainCtrl.optionalTextInputs[0].id}}" class="form-control input-sm" ng-model="mainCtrl.optionalTextInputs[0].value" required>
							</div>

							<div class="form-group" ng-show="mainCtrl.optionalTextInputs[1].visible">
								<label for="{{mainCtrl.optionalTextInputs[1].id}}" class="control-label">
									<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, mainCtrl.optionalTextInputs[1].id);"></span>
									&nbsp;{{mainCtrl.optionalTextInputs[1].text}}
								</label>
								<input type="email" id="{{mainCtrl.optionalTextInputs[1].id}}" class="form-control input-sm" ng-model="mainCtrl.optionalTextInputs[1].value" required>
							</div>

						</div>
					
					</div>

					<!-- Остальные поля -->
					<div class="row">
						<div class="form-group col-xs-12 col-sm-6 col-md-4" ng-repeat="formGroup in mainCtrl.optionalTextInputs.slice(4) | filter:{visible:true}">
							<label for="{{formGroup.id}}" class="control-label">
								<span class="glyphicon glyphicon-remove close-icon text-muted" ng-click="mainCtrl.showHideInput(mainCtrl, formGroup.id);"></span>
								&nbsp;{{formGroup.text}}</label>
							<input type="text" id="{{formGroup.id}}" class="form-control input-sm" required ng-model="formGroup.value">
						</div>
					</div>					
					
					<!-- Кнопки возвращения удаленных полей -->
					<div class="row"> 
						<ul class="list-inline col-xs-12 col-sm-6 col-md-4">
							<li ng-repeat="formGroup in mainCtrl.optionalTextInputs | filter:{visible:false}" class="buttons-list">
								<button class="btn btn-info btn-xs" ng-click="mainCtrl.showHideInput(mainCtrl, formGroup.id);">
									<span class="glyphicon glyphicon-plus"></span>
										&nbsp;{{formGroup.text}}
								</button>
							</li>
						</ul>
					</div>
					
					<!-- Добавление пользовательских полей -->
					<div class="row">
						<div class="col-sm-6 col-xs-12 form-inline">
							<div class="form-group">
								<br class="visible-xs-block">
								<input type="text" class="form-control input-sm" ng-show="mainCtrl.addingInput" ng-model="mainCtrl.newInputLabel" placeholder="Название поля" data-toggle="tooltip" title="Не более 15 символов" maxlength="15" inv-tooltip>
								<br class="visible-xs-block">
								<button ng-disabled="mainCtrl.optionalTextInputs.length >= 10" type="button" class="btn btn-success btn-xs" ng-click="mainCtrl.addInput(mainCtrl);">
									<span class="glyphicon glyphicon-plus"></span>
										&nbsp;Добавить поле
								</button>
							</div>
						</div>
					</div>
					<!-- Конец опциональных полей -->
					<!-- Конец блока получатель платежа -->

					<br>
					<div class="table-responsive">
						<table class="table table-condensed">
							<tr>
								<th class="col-xs-3">Наименование</th>
								<th class="col-xs-2 text-center">Кол-во</th>
								<th class="col-xs-2 text-center">Ед.</th>
								<th class="col-xs-2 text-center">Цена</th>
								<th class="col-xs-1 text-center">Сумма</th>
								<th class="col-xs-1 text-center"></th>
							</tr>

							<tr class="form-group" ng-repeat="item in mainCtrl.itemsTable">
								<td class="col-xs-3">
									<input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Товары, услуги, работы">
								</td>
								<td class="col-xs-2">
									<input type="number" step="any" min="0" class="form-control input-sm" ng-model="item.quantity" placeholder="{{item.quantity}}">
								</td>
								<td class="col-xs-2">
									<input type="text" class="form-control input-sm" ng-model="item.measure" placeholder="{{item.measure}}">
								</td>
								<td class="col-xs-2">
									<input type="number" step="any" min="0" class="form-control input-sm" ng-model="item.price">
								</td>
								<td class="col-xs-1 text-center vertical-middle">
									{{item.amount() | numFormat}}
								</td>
								<td class="col-xs-1"> <!-- Кнопка Удалить -->
									<button type="button" class="btn bg-primary btn-sm center-block" ng-show="mainCtrl.itemsTable.length > 1" ng-click="mainCtrl.removeItem(mainCtrl, item.index)">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</td>
							</tr>
							
							<tr> <!-- Кнопка добавить строку -->
								<td>
									<button type="button" class="btn btn-success btn-xs" ng-click="mainCtrl.addItem(mainCtrl);" ng-disabled="mainCtrl.itemsTable.length >= 10">
										<span class="glyphicon glyphicon-plus"></span>
											&nbsp;Добавить строку
									</button>
								</td>
							</tr>

						</table>
						<br>
					</div>
					
					<div class="row">
						
						<div class="col-sm-6">
							<!-- НДС -->
							<div class="form-group form-inline">
								<div class="input-group">
									<div class="input-group-addon">НДС</div>
									<select name="" id="" class="form-control input-sm" ng-model="mainCtrl.ndsType">
										<option value="1">Добавить</option>
										<option value="0">Включен в стоимость</option>
									</select>
									<div class="input-group-addon">Cтавка</div>
									<select name="" id="" class="form-control input-sm" ng-model="mainCtrl.ndsRate">
										<option value="0">0%</option>
										<option value="10">10%</option>
										<option value="18">18%</option>
									</select>
								</div>
							</div>
							
							<!-- Скидка -->
							<!-- Скрыто на xs -->
							<div class="form-inline hidden-xs">
								<div class="form-group fix-margin-bootom">
									
									<div class="input-group">
										<div class="input-group-addon">Скидка</div>
										<input type="number" min="0" class="form-control input-sm" ng-model="mainCtrl.invoiceDiscount">
									</div>
								
									<div class="btn-group dropup">
									  <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    {{mainCtrl.invoiceDiscountType == 'percent' ? '%' : mainCtrl.invoiceCurrency}}
									    <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
									    <li><a href="" ng-click="mainCtrl.invoiceDiscountType = 'currency'">{{mainCtrl.invoiceCurrency}}</a></li>
									    <li><a href="" ng-click="mainCtrl.invoiceDiscountType = 'percent'">%</a></li>
									  </ul>
									</div>

								</div>
							</div>
							
							<!-- Скидка -->
							<!-- Видно на xs -->
							<div class="form-group form-inline visible-xs-block">
								<div class="input-group">
									<div class="input-group-addon">Скидка</div>
									<input type="number" min="0" class="form-control input-sm" ng-model="mainCtrl.invoiceDiscount">
									<div class="input-group-addon"></div>
									<select name="" id="" class="form-control input-sm" ng-model="mainCtrl.invoiceDiscountType">
										<option value="currency">{{mainCtrl.invoiceCurrency}}</option>
										<option value="percent">%</option>
									</select>
								</div>
							</div>
																			
							<!-- Доставка -->
							<div class="form-group form-inline">
								<div class="input-group">
									<div class="input-group-addon">Доставка</div>
									<input type="number" min="0" class="form-control input-sm" ng-model="mainCtrl.invoiceShipping">
									<div class="input-group-addon">{{mainCtrl.invoiceCurrency}}</div>
								</div>
							</div>
											
						</div>

						<div class="col-sm-6"> <!-- Итог -->
							<div class="well text-right bg-info">
								
								<b>Промежуточный итог: {{mainCtrl.calc.subTotal(mainCtrl) | numFormat}} {{mainCtrl.invoiceCurrency}}</b>
								<br>
								
								<b>{{mainCtrl.ndsType == 1 ? 'НДС ' : 'НДС включен в стоимость '}}({{mainCtrl.ndsRate}}%): <span >{{mainCtrl.calc.nds(mainCtrl) | numFormat}} {{mainCtrl.invoiceCurrency}}</span></b>
								<br>

								<!-- Если Скидка в процентах -->
								<div ng-show="mainCtrl.invoiceDiscountType == 'percent'">
									<b>Скидка {{mainCtrl.invoiceDiscount | numFormat}}%: {{mainCtrl.calc.discount(mainCtrl) | numFormat}} {{mainCtrl.invoiceCurrency}}</b>
									<br>
								</div>

								<!-- Если Скидка - число -->
								<div ng-show="mainCtrl.invoiceDiscountType == 'currency'">
									<b>Скидка: {{mainCtrl.invoiceDiscount | numFormat}} {{mainCtrl.invoiceCurrency}}</b>
									<br>
								</div>

								<b>Доставка: {{mainCtrl.invoiceShipping | numFormat}} {{mainCtrl.invoiceCurrency}}</b>
								<br>

								<h4 class="text-primary">ИТОГО: {{mainCtrl.calc.total(mainCtrl) | numFormat}} {{mainCtrl.invoiceCurrency}}</h4>

							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-8">
							<label for="invoiceComment" class="control-label">Комментарий</label>
							<textarea name="invoiceComment" class="form-control input-sm" id="" rows="3"></textarea>
						</div>

					</div>
				</div>

				<!-- Сайдбар -->
				<!-- Если сделать его col-md-2 смотреться будет лучше,
				но при некоторых значениях ширины экрана (где-то между sm и md)
				появляется горизонтальная прокрутка -->
				<div class="col-xs-12 col-md-2 col-lg-2 hidden-xs hidden-sm">
					<button type="button" class="btn btn-primary btn-lg active btn-block" ng-click="mainCtrl.send(mainCtrl)">Отправить</button>
					<br>
					<button type="reset" class="btn btn-default btn-md active center-block" ng-click="mainCtrl.resetForm(mainCtrl, invoiceForm)">Очистить форму</button>
				</div>

				<div class="col-xs-12 col-md-2 col-lg-2 visible-xs-block visible-sm-block">
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3">
							<br class="visible-xs-block visible-sm-block">
							<button type="button" class="btn btn-primary btn-lg active btn-block" ng-click="mainCtrl.send(mainCtrl)">Отправить</button>
							<br>
							<button type="reset" class="btn btn-default btn-md active btn-block" ng-click="mainCtrl.resetForm(mainCtrl, invoiceForm)">Очистить форму</button>
							<br>
						</div>
					</div>
				</div>	

			</div>

			
			<!-- Шаблон, который отправляем на сервер,
			там из него создается PDF -->
			<div id="pdfTemplate">
				<h1><span>Счет на оплату</span></h1>
				<p><b>№</b> {{mainCtrl.invoiceNumber}}&ensp;|&ensp;<b>Дата:</b> {{mainCtrl.invoiceDate}}&ensp;|&ensp;<b>Валюта:</b> {{mainCtrl.invoiceCurrency}}</p>
			</div>


		</form>
		
		<div class="row">
			<div class="col-xs-12 col-md-10 col-lg-9 col-lg-offset-1">
				<hr>
				<p class="text-center">Создано..., e-mail bla bla bla</p>
			</div>
		</div>
	</div>

</body>
</html>