/* Стиль для создания PDF */
/* html-pdf (или PhantomJS) добавляет отступы сверху ко всем p */

@font-face {
  font-family: "Roboto-Regular"; 
  src: url("Roboto-Regular.ttf"); 
}

@font-face {
  font-family: "Roboto-Bold"; 
  src: url("Roboto-Bold.ttf"); 
}

body {
	width: 18cm;
	height: 27cm; /* Не 27.7 как должно быть, чтобы генерировалась одна страница */  
	padding: 1cm;
	padding-left: 2cm;
	font-size: 12pt;
	zoom: .75; 
}

* {
	font-family: 'Roboto-Regular', sans-serif;
}

.clearfix {
  clear: both;
}

.logo {
	width: 3.8cm;
  height: 3.8cm;
	float: left;
  background-image: url("replaceThis");
  background-size: contain;
  background-repeat: no-repeat;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

h1, h3, b {
	font-family: 'Roboto-Bold', sans-serif;
}

.no-margin-top {
	margin-top: -0.5cm !important;
}

h3 {
	margin-top: .8cm !important;
}

.center {
	text-align: center;
}

span {
	margin: 0 auto;
}

/* Таблица */
th {
	font-family: 'Roboto-Bold', sans-serif;
}

td {
	font-size: 10pt;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	overflow: hidden;
}

.name {
	width: 36%;
}
.quantity {
	width: 10%;
}

.amount {
	width: 20%;
}

.measure,
.price {
	width: 17%;
}

tr td:not(.name) {
	text-align: center;
}