/* Стиль для создания PDF */
/* html-pdf добавляет отступы сверху ко всем p */
body {
	width: 18cm;
	height: 27cm; /* Не 27.7 как должно быть, чтобы генерировалась одна страница */  
	padding: 1cm;
	padding-left: 2cm;
	font-size: 12pt;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
}

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.logo {
	max-height: 3.5cm;
	max-width: 3.5cm;
	padding-right: .3cm;
	padding-bottom: .3cm;
	float: left;
	margin-top: -0.5cm;
}

h1, h3, b {
	font-weight: 700;
}

h1, h3, p {
	background: yellow; /*для отладки*/
}

.no-margin-top {
	margin-top: -0.5cm !important;
}

h3 {
	margin-top: .8cm !important;
}

.center {
	text-align: center;
}

span {
	margin: 0 auto;
	/*width: 50%;*/
}

/* Таблица */
th {
	font-weight: 700;
}

td {
	font-size: 10pt;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	overflow: hidden;
}

.name {
	width: 32%;
}

.quantity,
.measure,
.price,
.amount {
	width: 17%;
}

tr td:not(.name) {
	text-align: center;
}