<!-- Сайдбар -->
<!-- Если сделать его col-md-2 смотреться будет лучше,
но при некоторых значениях ширины экрана (где-то между sm и md)
появляется горизонтальная прокрутка -->
	<div class="col-xs-12 col-md-2 col-lg-2 hidden-xs hidden-sm">
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="mainCtrl.send(mainCtrl)">Отправить</button>
		<br>
		<button type="reset" class="btn btn-default btn-md center-block" ng-click="mainCtrl.resetForm(mainCtrl, invoiceForm)">Очистить форму</button>
	</div>

	<div class="col-xs-12 col-md-2 col-lg-2 visible-xs-block visible-sm-block">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<br class="visible-xs-block visible-sm-block">
				<button type="button" class="btn btn-primary btn-lg active btn-block" ng-click="mainCtrl.send(mainCtrl)">Отправить</button>
				<br>
				<button type="reset" class="btn btn-default btn-md btn-block" ng-click="mainCtrl.resetForm(mainCtrl, invoiceForm)">Очистить форму</button>
				<br>
			</div>
		</div>
	</div>	