<!-- Сайдбар -->
<!-- Если сделать его col-md-2 смотреться будет лучше,
но при некоторых значениях ширины экрана (где-то между sm и md)
появляется горизонтальная прокрутка -->
<div class="col-xs-12 col-md-2 col-lg-2 hidden-xs hidden-sm">
	<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#previewModal" ng-click="mainCtrl.preview = true;  mainCtrl.send(mainCtrl)">Просмотр</button>
	
	<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#preSendModal" ng-click="mainCtrl.email.payerEmailSubj = 'Счет № ' + mainCtrl.invoiceNumber + ' от ' + mainCtrl.receiverName; mainCtrl.response = null; mainCtrl.sendState = false; mainCtrl.preview = false">Создать PDF</button>
	
	<!-- Управление шаблонами -->
	<button type="button" class="btn btn-info btn-sm btn-block margin-top15" ng-click="mainCtrl.saveTemplate(mainCtrl)" ng-disabled="mainCtrl.templObj.quantity === 3">Сохранить шаблон</button>
	
	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-success btn-sm margin-top5" href="#template0" ng-class="mainCtrl.templObj.current === 0 ? 'active' : ''" ng-disabled="mainCtrl.templObj.quantity === 0">Шаблон 1</a>
			<button type="button" class="btn btn-success btn-sm dropdown-toggle margin-top5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ng-disabled="mainCtrl.templObj.current !== 0">
				<span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="">Сохранить</a></li>
				<li><a href="">Удалить</a></li>
			</ul>
		</div>
	</div>
	
	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-success btn-sm margin-top5" href="#template1" ng-class="mainCtrl.templObj.current === 1 ? 'active' : ''" ng-disabled="mainCtrl.templObj.quantity < 2">Шаблон 2</a>
			<button type="button" class="btn btn-success btn-sm dropdown-toggle margin-top5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="mainCtrl.templObj.current !== 1">
				<span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="">Сохранить</a></li>
				<li><a href="">Удалить</a></li>
			</ul>
		</div>
	</div>

	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-success btn-sm margin-top5" href="#template2" ng-class="mainCtrl.templObj.current === 2 ? 'active' : ''" ng-disabled="mainCtrl.templObj.quantity < 3">Шаблон 3</a>
			<button type="button" class="btn btn-success btn-sm dropdown-toggle margin-top5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="mainCtrl.templObj.current !== 2">
				<span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="">Сохранить</a></li>
				<li><a href="">Удалить</a></li>
			</ul>
		</div>
	</div>
	<!-- Конец Управление шаблонами -->
				
	<button type="reset" class="btn btn-default btn-md center-block margin-top15" ng-click="mainCtrl.resetForm(mainCtrl, invoiceForm)">Очистить форму</button>
</div>

<div class="col-xs-12 col-md-2 col-lg-2 visible-xs-block visible-sm-block">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<br class="visible-xs-block visible-sm-block">
			<!-- Здесь в ng-click вызывается $('#previewModal').modal() -
			обычным способом (via Data attributes) модальное окно 
			на моем телефоне не появлялось -->
			<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#previewModal" ng-click="$('#previewModal').modal(); mainCtrl.preview = true;  mainCtrl.send(mainCtrl)">Просмотр</button>
			
			<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#preSendModal" ng-click="mainCtrl.email.payerEmailSubj = 'Счет № ' + mainCtrl.invoiceNumber + ' от ' + mainCtrl.receiverName; mainCtrl.response = null; mainCtrl.sendState = false; mainCtrl.preview = false">Создать PDF</button>
			
			<!-- Управление шаблонами -->
			<button type="button" class="btn btn-info btn-sm btn-block margin-top15" ng-click="mainCtrl.saveTemplate(mainCtrl)">Сохранить шаблон</button>
			
			<div class="text-center">
				<div class="btn-group">
					<a class="btn btn-success btn-sm margin-top5" href="#template0" ng-class="mainCtrl.templObj.current === 0 ? 'active' : ''">Шаблон 1</a>
					<button type="button" class="btn btn-success btn-sm dropdown-toggle margin-top5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  ng-disabled="mainCtrl.templObj.current !== 0">
						<span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="">Сохранить</a></li>
						<li><a href="">Удалить</a></li>
					</ul>
				</div>
			</div>
			
			<div class="text-center">
				<div class="btn-group">
					<a class="btn btn-success btn-sm margin-top5" href="#template1" ng-class="mainCtrl.templObj.current === 1 ? 'active' : ''">Шаблон 2</a>
					<button type="button" class="btn btn-success btn-sm dropdown-toggle margin-top5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="mainCtrl.templObj.current !== 1">
						<span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="">Сохранить</a></li>
						<li><a href="">Удалить</a></li>
					</ul>
				</div>
			</div>
			
			<div class="text-center">
				<div class="btn-group">
					<a class="btn btn-success btn-sm margin-top5" href="#template2" ng-class="mainCtrl.templObj.current === 2 ? 'active' : ''">Шаблон 3</a>
					<button type="button" class="btn btn-success btn-sm dropdown-toggle margin-top5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="mainCtrl.templObj.current !== 2">
						<span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="">Сохранить</a></li>
						<li><a href="">Удалить</a></li>
					</ul>
				</div>
			</div>
			<!-- Конец Управление шаблонами -->
							
			<button type="reset" class="btn btn-default btn-md btn-block margin-top15" ng-click="mainCtrl.resetForm(mainCtrl, invoiceForm)">Очистить форму</button>
			<br>
		</div>
	</div>
</div>

<div inv-pre-send-modal ctrl="mainCtrl" ng-init="mainCtrl.form = invoiceForm"></div>
<div inv-preview-modal ctrl="mainCtrl"></div>
